* {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 80px;
  font-family: 'Noto Sans', sans-serif;
  background-color: #202020;

}

header {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #202020;
  top: 0;
}

.header_left{
  float: left;
}

.header_left h1{
  text-transform: uppercase;
  color: red;
  margin: 10px 10px;
}

.header_right {
  float: right;
  text-align: right;
  margin: 20px auto;
}

.header_right input{
  padding: 10px;
  height: 35px;
  width: 230px;
  border-radius: 2px;
  border: none;
  background-color: #fff;
}

.header_right button{
  padding: 5px;
  height: 35px;
  width: 80px;
  margin-right: 10px;
  border-radius: 2px;
  background-color: #fff;
  border: none;
}

.card_film{
  float: left;
  margin: 10px;
  color: #fff;
  width: 240px;
  height: 630px;
  margin-bottom: 100px;
  border: 2px solid #000;
  margin-top: 100px;
  text-align: center;
  box-shadow: 3px 3px 3px #000;
  margin-left: 35px;
}

.card_film img{
  margin-top: 10px;
}

#stars{
  color: yellow;
}

#flag img{
  width: 30px;
}

#title_color{
  color: red;
}
