* {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 80px;
  font-family: 'Noto Sans', sans-serif;
  background-color: #191919;
}

header{
  font-family: 'Noto Sans', sans-serif;
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #191919;
  top: 0;
}

.header_left{
  float: left;
  margin: 10px 50px;
}

.header_left #title{
  text-transform: uppercase;
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.header_left ul li{
  color: #fff;
  display: inline-block;
  padding: 10px;
  padding-top: 10px;
  cursor: pointer;
  font-size: 15px;
}

.header_right {
  float: right;
  text-align: right;
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
}

.header_right input{
  padding: 10px;
  height: 35px;
  width: 230px;
  border-radius: 2px;
  border: none;
  background-color: #191919;
  border: 1px solid #fff;
  size: 10px;
  font-size: 15px;
  color: #fff;
}

.header_right button{
  padding: 10px;
  border-radius: 2px;
  background-color: #191919;
  color: #fff;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.fa-bell, .fa-angle-down{
  cursor: pointer;
  padding: 10px;
}

.card_film{
  float: left;
  margin: 180px 10px;
  color: #fff;
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #000;
  text-align: center;
  box-shadow: 3px 3px 3px #000;
  margin-bottom: 10px;
}

.locandina_img{
  height: 300px;
  width: 100%;
}

.card_film img .locandina_img{
  max-width: 100%;
  display: inline-block;
}

.card_film img .locandina_img.hidden{
  display: none;
}

#stars{
  color: yellow;
}

#flag img{
  width: 30px;
}

#title_color{
  color: red;
}

.locandina_info{
  display: none;
}

.locandina_info.active{
  display: block;
}
